#wrapper {
	height:100%;
}

#wrapper .columns, #wrapper .columns .column {
	height:100%;
}

/* Navigation Column */
#nav {
	background: black;
	color:white;
	padding:0;
}

#nav ul {
	list-style:none;
	padding:40px 0 40px;
	margin:0 auto;
}

#nav ul li {
	padding:10px 20px;
}

#nav ul li.active, #nav ul li:hover {
	background-color: #6DAB36;
}
/* Admin Page Section */

#page {
	background-color: #F0F3ED;
}

#page label {
	display:block;
}

#page .buttons {
	margin:20px 0;
}

/* Specific Queries */

@media (min-width: 992px) {
	body, html {
		height:100%;
	}

	#nav ul li {
		text-align:left;
	}
}

@media (max-width: 992px) {
	#nav ul li {
		text-align:center;
	}
}
