#wrapper {
	width:100%;
	margin:0;
	padding:0;
}

#wrapper #main_container {
	width:960px;
	margin:0 auto;
}

/* Start Left */

#admin_left {
	width:20%;
	float:left;
	height:100%;
}

#admin_right {
	width:80%;
	height:100%;
	float:left;
}

#select_a_page {

}

#select_a_page h2 {
	display:inline-block;
}