@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch);

body {
	background:url("../img/linen_bg.png") repeat scroll center top rgba(207, 254, 192, 0.26);
}

h1, h2, h3 {
	font-family: 'Cabin Sketch', cursive;
}

h1 {
	font-size:4em;
}

#wrapper {
	width:100%;
	margin:0;
	padding:0;
}

#wrapper #main_container {
	width:960px;
	margin:0 auto;
}

/* Start Left */

#admin_left {
	width:20%;
	float:left;
	height:100%;
}

#admin_right {
	width:70%;
	height:100%;
	float:left;
	padding:50px 0 0 80px;
}

#select_a_page {

}

#select_a_page h2 {
	display:inline-block;
}

/* Overall Admin Styles */

#admin_right label {
	font-weight:bold;
}
/* Config Styles */
#nav_conf {
	width:50%;
	list-style:none;
}
#nav_conf li {
	cursor: pointer;
	padding:5px;
	margin:5px 0;
	border:1px solid black;
}