@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch);

body {
	background: url("../img/linen_bg.png") repeat scroll center top rgba(207, 254, 192, 0.26);
}

.clear {
	clear:both;
}

h1, h2, h3 {
	font-family: 'Cabin Sketch', cursive;
}

h1 {
	font-size:70px;
}

h2 {
	font-size:30px;
}

#wrapper {
	width:100%;
	height:100%;
}

#wrapper #main_container {
	width:960px;
	margin:0 auto;
}

header #logo h1, header #logo h2 {
	margin-bottom:0;
}

header #logo h2 {
	margin-top:-20px;
	margin-left:65px;
}

header {
	height:100%;
}

#logo {
	float:left;
}

#download {
	float:right;
	margin-top:75px;
}

#download #download_button {
	margin:0 0 0 10px;
	cursor: pointer;
	outline: none;
	background-color: lightgrey;
	font-style:italic;
	font-weight:normal;
	line-height:18px;
	font-size:25px;
	font-weight:bold;
	padding:20px;
	border:1px solid black;
	border-radius:40px 20px 40px 20px;
}

#download a, #download a:hover , #download a:visited{
	color:black;
	text-decoration: none;
}

#download #download_button:hover {

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;

	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

nav {
	border-top:2px solid black;
	border-bottom:2px solid black;
	margin:30px 0px;
}

nav ul {
	margin:0 auto;
	font-family: 'Cabin Sketch', cursive;
	font-size:20px;
}

nav ul li {
	display:inline-block;
	margin:10px 20px;
}