/* Overall styles */

html, body, #wrapper, .main_container {
    height: 100%;
}

body {
    background-color: #f0f3ed;
}

/* Main Admin Styles */
#admin-navigation {
    background:black;
    height: 100%;
}

#admin-navigation ul {
	margin:10px 0 0;
}

#admin-navigation ul li {
	padding:5px;
	color:white;
}

#page-content {
	width:100%;
	height:500px;
}